$sick-color: peru;

body {
  background-color: $sick-color;
  font-family: sans-serif;
}

h1 {
  color: white;
}

canvas {
  background-color: white;
}

.canvas-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.save-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.save-inputs input {
  outline: none;
  border: none;
  height: 25px;
  font-size: 14px;
  font-weight: lighter;
  margin: 5px;
}
